<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="pointcheckout" id="pointcheckout">
            <module name="PointCheckout_PointCheckoutPaymentGateway"/>
        </route>
        <route frontName="redirecttogateway" id="redirecttogateway">
            <module name="PointCheckout_PointCheckoutPaymentGateway"/>
        </route>
    </router>
</config>