<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="CardFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\PointCheckout\Card\Model\Ui\CardConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">PointCheckout\Card\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">CardValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">CardCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="CardConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PointCheckout\Card\Model\Ui\CardConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with CardConfig -->
    <virtualType name="CardLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">CardConfig</argument>
        </arguments>
    </virtualType>
    
    <!-- Client, initialized with CardConfig and CardLogger< -->
    <type name="PointCheckout\Card\Gateway\Http\Client\ClientMock">
        <arguments>
            <argument name="logger" xsi:type="object">CardLogger</argument>
            <argument name="config" xsi:type="object">CardConfig</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="CardCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">CardAuthorizeCommand</item>   
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="CardAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">CardAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">CardResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">PointCheckout\Card\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">PointCheckout\Card\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">PointCheckout\Card\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Authorization Request -->
    <virtualType name="CardAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">PointCheckout\Card\Gateway\Request\AuthorizationRequest</item>
            </argument>
        </arguments>
    </virtualType>
    
    <!-- NEW ADDED  -->
    <virtualType name="CardCountryError" type="Magento\Framework\Phrase">
        <arguments>
            <argument name="text" xsi:type="string">
                Sorry your billing country is not supported
            </argument>
        </arguments>
    </virtualType>
    
    <!-- NEW ADDED  -->
    <virtualType name="CardGroupError" type="Magento\Framework\Phrase">
        <arguments>
            <argument name="text" xsi:type="string">
                Sorry your account type is not supported
            </argument>
        </arguments>
    </virtualType>
    
    <!-- Modified   -->
    <!-- Authorization Request,initialized with CardConfig  -->
    <type name="PointCheckout\Card\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">CardConfig</argument>
            <argument name="countryMsg" xsi:type="object">CardCountryError</argument>
            <argument name="groupMsg" xsi:type="object">CardGroupError</argument>
        </arguments>
    </type>
    
    <!-- Controllers data provider, initialized with CardConfig   -->
  <type name="PointCheckout\Card\Block\Index">
        <arguments>
            <argument name="config" xsi:type="object">CardConfig</argument>
        </arguments>
    </type>
    
    <!--Payment Mode Source Data, initialized with CardConfig   -->
    <type name="PointCheckout\Card\Model\Adminhtml\Source\PaymentMode">
        <arguments>
            <argument name="config" xsi:type="object">CardConfig</argument>
        </arguments>
    </type>
    
    <!-- Response handlers -->
    <virtualType name="CardResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">PointCheckout\Card\Gateway\Response\TxnIdHandler</item>
                <item name="fraud" xsi:type="string">PointCheckout\Card\Gateway\Response\FraudHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="CardValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">CardConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    
     <!-- Value handlers, , initialized with CardConfig -->
    <virtualType name="CardConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">CardConfig</argument>
        </arguments>
    </virtualType>
</config>
