<?xml version="1.0"?>
<!-- 
/**
 * Copyright © 2017 PointCheckout. All rights reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="PointCheckoutPaymentGatewayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\PointCheckout\PointCheckoutPaymentGateway\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">PointCheckout\PointCheckoutPaymentGateway\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">PointCheckoutPaymentGatewayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">PointCheckoutPaymentGatewayCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="PointCheckoutPaymentGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PointCheckout\PointCheckoutPaymentGateway\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with PointCheckoutPaymentGatewayConfig -->
    <virtualType name="PointCheckoutPaymentGatewayLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">PointCheckoutPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>
    
    <!-- Client, initialized with PointCheckoutPaymentGatewayConfig and PointCheckoutPaymentGatewayLogger< -->
    <type name="PointCheckout\PointCheckoutPaymentGateway\Gateway\Http\Client\ClientMock">
        <arguments>
            <argument name="logger" xsi:type="object">PointCheckoutPaymentGatewayLogger</argument>
            <argument name="config" xsi:type="object">PointCheckoutPaymentGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="PointCheckoutPaymentGatewayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">PointCheckoutPaymentGatewayAuthorizeCommand</item>   
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="PointCheckoutPaymentGatewayAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PointCheckoutPaymentGatewayAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">PointCheckoutPaymentGatewayResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">PointCheckout\PointCheckoutPaymentGateway\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">PointCheckout\PointCheckoutPaymentGateway\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">PointCheckout\PointCheckoutPaymentGateway\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Authorization Request -->
    <virtualType name="PointCheckoutPaymentGatewayAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">PointCheckout\PointCheckoutPaymentGateway\Gateway\Request\AuthorizationRequest</item>
            </argument>
        </arguments>
    </virtualType>
    
    <!-- NEW ADDED  -->
    <virtualType name="PointCheckoutPaymentGatewayCountryError" type="Magento\Framework\Phrase">
        <arguments>
            <argument name="text" xsi:type="string">
                Sorry your billing country is not supported
            </argument>
        </arguments>
    </virtualType>
    
    <!-- NEW ADDED  -->
    <virtualType name="PointCheckoutPaymentGatewayGroupError" type="Magento\Framework\Phrase">
        <arguments>
            <argument name="text" xsi:type="string">
                Sorry your account type is not supported
            </argument>
        </arguments>
    </virtualType>
    
    <!-- Modified   -->
    <!-- Authorization Request,initialized with PointCheckoutPaymentGatewayConfig  -->
    <type name="PointCheckout\PointCheckoutPaymentGateway\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">PointCheckoutPaymentGatewayConfig</argument>
            <argument name="countryMsg" xsi:type="object">PointCheckoutPaymentGatewayCountryError</argument>
            <argument name="groupMsg" xsi:type="object">PointCheckoutPaymentGatewayGroupError</argument>
        </arguments>
    </type>
    
    <!-- Controllers data provider, initialized with PointCheckoutPaymentGatewayConfig   -->
  <type name="PointCheckout\PointCheckoutPaymentGateway\Block\Index">
        <arguments>
            <argument name="config" xsi:type="object">PointCheckoutPaymentGatewayConfig</argument>
        </arguments>
    </type>
    
    <!--Payment Mode Source Data, initialized with PointCheckoutPaymentGatewayConfig   -->
    <type name="PointCheckout\PointCheckoutPaymentGateway\Model\Adminhtml\Source\PaymentMode">
        <arguments>
            <argument name="config" xsi:type="object">PointCheckoutPaymentGatewayConfig</argument>
        </arguments>
    </type>
    
    <!-- Response handlers -->
    <virtualType name="PointCheckoutPaymentGatewayResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">PointCheckout\PointCheckoutPaymentGateway\Gateway\Response\TxnIdHandler</item>
                <item name="fraud" xsi:type="string">PointCheckout\PointCheckoutPaymentGateway\Gateway\Response\FraudHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="PointCheckoutPaymentGatewayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PointCheckoutPaymentGatewayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    
     <!-- Value handlers, , initialized with PointCheckoutPaymentGatewayConfig -->
    <virtualType name="PointCheckoutPaymentGatewayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PointCheckoutPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>

</config>
