<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice" style="display:table">
        <input type="radio"
               style="display:table-cell;vertical-align: middle;"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}" style="display:table-cell;vertical-align: middle;">
        <img src='https://www.staging.pointcheckout.com/img/logo/logo-nav.png' width="160px" style="padding-top: 3px;"/>&nbsp;&nbsp;<a href="https://www.pointcheckout.com/home/merchant" target="_blank" style="vertical-align: middle;"><span>Why PointCheckout</span></a><br/>
<!--             <span data-bind="text: getTitle()"></span>
 -->        </label>
 
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <p>You will be redirected to PointCheckout website to proccess your payment</p>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')}
                        ">
                    <span data-bind="i18n: 'Continue to PointCheckout'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
