<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="pointcheckoutreward" id="pointcheckoutreward">
            <module name="PointCheckout_Rewards"/>
        </route>
        <route frontName="rewardredirect" id="rewardredirect">
            <module name="PointCheckout_Rewards"/>
        </route>
    </router>
</config>