<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="pointcheckout_cardgateway_config_provider" xsi:type="object">PointCheckout\Card\Model\Ui\CardConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="PointCheckout\Card\Block\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">1</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="pointcheckoutcard" xsi:type="array">
                    <item name="class" xsi:type="string">PointCheckout\Card\Controller\Payment\Confirm</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">160</item>
                </item>
                <item name="cardredirect" xsi:type="array">
                    <item name="class" xsi:type="string">PointCheckout\Card\Controller\Payment\Redirect</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">165</item>
                </item>
            </argument>
        </arguments>
    </type> 
    <type name="Magento\Framework\Url\SecurityInfo">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="pointcheckoutcard" xsi:type="string">/pointcheckoutcard/</item>
                <item name="cardredirect" xsi:type="string">/cardredirect/</item>
            </argument>
        </arguments>
    </type>
</config>
